html, body {
  margin: 0;
}

body {
  height: 100vh;
  background: rgba(0,0,0,60%);
  color: white;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 5rem;
}

html {
  background-image: url("./background.jpeg");
  background-size: cover;
  background-position: bottom center;
}